.container {
  margin: auto;
  padding: 0 2rem;
}

.content {
  max-width: 1366px;
  margin: auto
}

.trending {
  max-width: 1366px;
  margin: 1rem 3rem 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;

  ul {
    margin-top: 2rem;
    max-width: 32rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;  
    grid-gap: 1rem;
  }

  @media(max-width: 1300px) {
    flex-direction: column;
  }
}

.test {
  h1 {
    max-width: 1280px;
    color: var(--light-blue);
    border-bottom: 1px solid var(--gray);
  }

  ul {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
    list-style-type: none;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}