.headerContainer {
  height: 4.4rem;
  min-width: 67rem;
  background: var(--strong-white);
  border-bottom: 1px solid var(--strong-gray);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 0;
  z-index: 99;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4.4rem;
  margin: 0 auto;
  padding: 0 5rem;

  .logo {
    width: 16rem;
    height: 4rem;
  }
}

.headerManager {
  display: flex;
  align-items: center;
}